{
  "openapi": "3.0.3",
  "info": {
    "title": "GetMonitor API",
    "version": "1.0",
    "description": "Manage monitors, heartbeats, status pages, incidents and maintenance. See the API overview for authentication, scopes and errors."
  },
  "servers": [
    {
      "url": "https://api.getmonitor.io"
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Organizations, teams and invitations."
    },
    {
      "name": "Member Contact Methods",
      "description": "The signed-in member's on-call contact methods."
    },
    {
      "name": "Uptime",
      "description": "HTTP uptime monitors, their statistics and check results."
    },
    {
      "name": "Monitors",
      "description": "All monitor types, and statistics across them."
    },
    {
      "name": "Heartbeats",
      "description": "Heartbeat (cron) monitors."
    },
    {
      "name": "Status Pages",
      "description": "Status page management: pages, components, custom domains, subscribers, updates and maintenance."
    },
    {
      "name": "Billing",
      "description": "Billing plan and usage."
    },
    {
      "name": "Status Pages (Public)",
      "description": "Read-only endpoints that power public status pages. No authentication."
    }
  ],
  "paths": {
    "/api/v1/organizations/check-slug": {
      "get": {
        "operationId": "check_slug",
        "summary": "Check organization slug availability",
        "description": "Returns whether an organization slug is free to use.\n\n**Authentication:** No authentication. Anyone can call this endpoint.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": true,
            "description": "Slug to check.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "available": {
                      "type": "boolean"
                    },
                    "slug": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "available",
                    "slug"
                  ]
                },
                "example": {
                  "available": true,
                  "slug": "acme-labs"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/organizations/by-slug/{slug}": {
      "get": {
        "operationId": "resolve_by_slug",
        "summary": "Resolve organization by slug",
        "description": "Returns the organization ID for a slug.\n\n**Authentication:** No authentication. Anyone can call this endpoint.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "Organization slug.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "slug"
                  ]
                },
                "example": {
                  "id": "k2p9x7w4m1n8b3v6c5z0q2r7",
                  "slug": "acme"
                }
              }
            }
          },
          "404": {
            "description": "The resource does not exist or belongs to another organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Organization with slug \"nope-zz9-nope\" not found",
                  "error": "Not Found",
                  "statusCode": 404
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/organizations": {
      "get": {
        "operationId": "list_organizations",
        "summary": "List organizations",
        "description": "Lists the organizations the caller belongs to. Works with a user session or a personal API key (no `X-Organization-Id` needed); a personal key limited to some organizations only returns those. Organization API keys get `401`.\n\n**Authentication:** User session or **personal** API key (`gm_pat_`). No scope needed.",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "slug": {
                        "type": "string"
                      },
                      "logo": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "nullable": true
                      },
                      "phoneNumber": {
                        "type": "string",
                        "nullable": true
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "productId": {
                        "type": "string"
                      },
                      "language": {
                        "type": "string"
                      },
                      "languageChangedAt": {
                        "type": "string",
                        "nullable": true
                      },
                      "userRole": {
                        "type": "string"
                      },
                      "activePlan": {
                        "type": "string"
                      },
                      "statusPages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "domain": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "domain"
                          ]
                        }
                      },
                      "members": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "email",
                            "role"
                          ]
                        }
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "slug",
                      "logo",
                      "email",
                      "phoneNumber",
                      "createdAt",
                      "productId",
                      "language",
                      "languageChangedAt",
                      "userRole",
                      "activePlan",
                      "statusPages",
                      "members"
                    ]
                  }
                },
                "example": [
                  {
                    "id": "k2p9x7w4m1n8b3v6c5z0q2r7",
                    "name": "GetMonitor",
                    "slug": "acme",
                    "logo": "https://img.static.getmonitor.io/logo/example.png",
                    "email": null,
                    "phoneNumber": null,
                    "createdAt": "2025-12-31T04:06:33.348Z",
                    "productId": "getmonitor",
                    "language": "pt-BR",
                    "languageChangedAt": null,
                    "userRole": "owner",
                    "activePlan": "business",
                    "statusPages": [
                      {
                        "id": "c1rui6avx08bx20fr3bne9vy",
                        "name": "GetMonitor",
                        "domain": "status"
                      },
                      {
                        "id": "ue36sb5hjehntxcd7iau14cz",
                        "name": "Acme Status",
                        "domain": "acme-status"
                      }
                    ],
                    "members": [
                      {
                        "id": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf",
                        "name": "Jane Doe",
                        "email": "user1@example.com",
                        "role": "owner"
                      },
                      {
                        "id": "x4SGOpn9gx6MmDf22A7o1u6UHl2G3LfF",
                        "name": "John Smith",
                        "email": "user2@example.com",
                        "role": "member"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          },
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/guest-access": {
      "get": {
        "operationId": "list_guest_access",
        "summary": "List guest-access organizations",
        "description": "Lists organizations the signed-in user can view as a guest.\n\n**Authentication:** User session only (the panel). API keys receive `401`.",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                },
                "example": []
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/roles": {
      "get": {
        "operationId": "get_user_roles",
        "summary": "Get my roles",
        "description": "Returns the signed-in user's role in each organization.\n\n**Authentication:** User session only (the panel). API keys receive `401`.",
        "tags": [
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "organizationId": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "organizationId",
                          "role"
                        ]
                      }
                    }
                  },
                  "required": [
                    "memberships"
                  ]
                },
                "example": {
                  "memberships": [
                    {
                      "organizationId": "k2p9x7w4m1n8b3v6c5z0q2r7",
                      "role": "owner"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}": {
      "get": {
        "operationId": "get_organization",
        "summary": "Get organization",
        "description": "**Authentication:** User session only (the panel). API keys receive `401`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "logo": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "phoneNumber": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "productId": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "languageChangedAt": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "logo",
                    "email",
                    "phoneNumber",
                    "createdAt",
                    "productId",
                    "language",
                    "languageChangedAt"
                  ]
                },
                "example": {
                  "id": "k2p9x7w4m1n8b3v6c5z0q2r7",
                  "name": "GetMonitor",
                  "slug": "acme",
                  "logo": "https://img.static.getmonitor.io/logo/example.png",
                  "email": null,
                  "phoneNumber": null,
                  "createdAt": "2025-12-31T04:06:33.348Z",
                  "productId": "getmonitor",
                  "language": "pt-BR",
                  "languageChangedAt": null
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Not a member of this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}/language": {
      "patch": {
        "operationId": "update_language",
        "summary": "Update organization language",
        "description": "**Authentication:** User session only (the panel). API keys receive `401`. Requires the **owner** role; other roles receive `403`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "`null` resets to the default.",
                    "enum": [
                      "en-US",
                      "pt-BR"
                    ],
                    "nullable": true
                  }
                }
              },
              "example": {
                "language": "pt-BR"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "logo": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "phoneNumber": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "productId": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "languageChangedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "logo",
                    "email",
                    "phoneNumber",
                    "createdAt",
                    "productId",
                    "language",
                    "languageChangedAt"
                  ]
                },
                "example": {
                  "id": "k2p9x7w4m1n8b3v6c5z0q2r7",
                  "name": "GetMonitor",
                  "slug": "acme",
                  "logo": "https://img.static.getmonitor.io/logo/example.png",
                  "email": null,
                  "phoneNumber": null,
                  "createdAt": "2025-12-31T04:06:33.348Z",
                  "productId": "getmonitor",
                  "language": "pt-BR",
                  "languageChangedAt": "2026-09-27T14:21:53.950Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": [
                    "language must be one of the following values: en-US, pt-BR"
                  ],
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}/status": {
      "get": {
        "operationId": "get_status",
        "summary": "Get organization resource counts",
        "description": "Counts of monitors and status pages.\n\n**Authentication:** User session only (the panel). API keys receive `401`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizationId": {
                      "type": "string"
                    },
                    "hasMonitors": {
                      "type": "boolean"
                    },
                    "hasStatusPages": {
                      "type": "boolean"
                    },
                    "monitorsCount": {
                      "type": "integer"
                    },
                    "statusPagesCount": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "organizationId",
                    "hasMonitors",
                    "hasStatusPages",
                    "monitorsCount",
                    "statusPagesCount"
                  ]
                },
                "example": {
                  "organizationId": "k2p9x7w4m1n8b3v6c5z0q2r7",
                  "hasMonitors": true,
                  "hasStatusPages": true,
                  "monitorsCount": 9,
                  "statusPagesCount": 2
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}/onboarding-progress": {
      "get": {
        "operationId": "get_onboarding_progress",
        "summary": "Get onboarding progress",
        "description": "Completion state of each onboarding checklist step.\n\n**Authentication:** User session only (the panel). API keys receive `401`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "completed": {
                            "type": "boolean"
                          },
                          "completedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "key",
                          "completed",
                          "completedAt"
                        ]
                      }
                    },
                    "allComplete": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "steps",
                    "allComplete"
                  ]
                },
                "example": {
                  "steps": [
                    {
                      "key": "first-monitor",
                      "completed": true,
                      "completedAt": "2026-06-16T16:58:17.057Z"
                    },
                    {
                      "key": "configure-alerts",
                      "completed": true,
                      "completedAt": "2026-06-16T16:58:17.057Z"
                    }
                  ],
                  "allComplete": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}/members/invite": {
      "post": {
        "operationId": "invite_member",
        "summary": "Prepare a member invitation",
        "description": "Checks the member limit of your plan and records which team the invitee joins. It does **not** send the invitation email; the panel sends that separately. Returns `403` when the organization is at its member limit.\n\n**Authentication:** User session only (the panel). API keys receive `401`. Requires the **owner** role; other roles receive `403`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "new.member@example.com"
                  },
                  "teamId": {
                    "type": "string",
                    "description": "Team to place the member in. Defaults to the organization default team."
                  },
                  "role": {
                    "type": "string",
                    "description": "Accepted for compatibility; ignored.",
                    "enum": [
                      "member",
                      "viewer"
                    ],
                    "deprecated": true
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": [
                    "email must be an email"
                  ],
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}/teams": {
      "get": {
        "operationId": "list_teams",
        "summary": "List teams",
        "description": "Lists teams with their members.\n\n**Authentication:** User session only (the panel). API keys receive `401`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string",
                        "nullable": true
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "members": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "userId": {
                              "type": "string"
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "image": {
                                  "type": "string"
                                },
                                "emailVerified": {
                                  "type": "boolean"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "email",
                                "image",
                                "emailVerified",
                                "createdAt",
                                "updatedAt"
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "userId",
                            "user"
                          ]
                        }
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "description",
                      "createdAt",
                      "members"
                    ]
                  }
                },
                "example": [
                  {
                    "id": "default-5cd6ee4402914945b76d08f7cb8389ac",
                    "name": "Everybody",
                    "description": null,
                    "createdAt": "2026-06-23T21:54:52.691Z",
                    "members": [
                      {
                        "id": "ck3gesswj7zyl4fiz3t92f0y",
                        "userId": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf",
                        "user": {
                          "id": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf",
                          "name": "Jane Doe",
                          "email": "user1@example.com",
                          "image": "https://img.static.getmonitor.io/profile/example.png",
                          "emailVerified": true,
                          "createdAt": "2025-08-23T01:53:59.268Z",
                          "updatedAt": "2026-08-04T14:43:08.383Z"
                        }
                      },
                      {
                        "id": "meqds4y0611bdvo3vfj3yp1n",
                        "userId": "aAYL0UZcoXeH0oFE1Xt7z6nHcIpmQqyE",
                        "user": {
                          "id": "aAYL0UZcoXeH0oFE1Xt7z6nHcIpmQqyE",
                          "name": "John Smith",
                          "email": "user2@example.com",
                          "image": "https://img.static.getmonitor.io/profile/example.png",
                          "emailVerified": true,
                          "createdAt": "2026-09-09T12:41:28.786Z",
                          "updatedAt": "2026-09-09T12:41:28.786Z"
                        }
                      }
                    ]
                  },
                  {
                    "id": "cwdzilli8cphkpwmuf8qv8js",
                    "name": "Second",
                    "description": null,
                    "createdAt": "2026-06-29T23:35:49.101Z",
                    "members": [
                      {
                        "id": "h56sa5f3zcvohoi5rntexjlo",
                        "userId": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf",
                        "user": {
                          "id": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf",
                          "name": "Jane Doe",
                          "email": "user1@example.com",
                          "image": "https://img.static.getmonitor.io/profile/example.png",
                          "emailVerified": true,
                          "createdAt": "2025-08-23T01:53:59.268Z",
                          "updatedAt": "2026-08-04T14:43:08.383Z"
                        }
                      },
                      {
                        "id": "miy9j7ecg3jhljkxjj3bacdi",
                        "userId": "56FfaMU61zjnIdvXOUTjOtCWT3RrToAy",
                        "user": {
                          "id": "56FfaMU61zjnIdvXOUTjOtCWT3RrToAy",
                          "name": "Alex Kim",
                          "email": "user3@example.com",
                          "image": "https://img.static.getmonitor.io/profile/example.png",
                          "emailVerified": true,
                          "createdAt": "2026-05-10T20:16:37.776Z",
                          "updatedAt": "2026-08-04T14:43:40.911Z"
                        }
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      },
      "post": {
        "operationId": "create_team",
        "summary": "Create team",
        "description": "**Authentication:** User session only (the panel). API keys receive `401`. Requires the **owner** role; other roles receive `403`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Platform"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "example": {
                "name": "Platform",
                "description": "Customer-facing status"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "organizationId",
                    "description",
                    "createdAt",
                    "updatedAt"
                  ]
                },
                "example": {
                  "id": "xkcd1re77cgdse4b8h9abp4s",
                  "name": "Platform",
                  "organizationId": "k2p9x7w4m1n8b3v6c5z0q2r7",
                  "description": "Customer-facing status",
                  "createdAt": "2026-09-27T14:21:55.104Z",
                  "updatedAt": null
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": [
                    "name must be longer than or equal to 1 characters",
                    "regions must be an array"
                  ],
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          },
          "409": {
            "description": "Conflicts with an existing resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "domain already taken",
                  "error": "Conflict",
                  "statusCode": 409
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}/teams/{teamId}": {
      "patch": {
        "operationId": "update_team",
        "summary": "Update team",
        "description": "**Authentication:** User session only (the panel). API keys receive `401`. Requires the **owner** role; other roles receive `403`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "Team ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "description": "All fields are optional."
              },
              "example": {
                "description": "Customer-facing status"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "organizationId",
                    "description",
                    "createdAt",
                    "updatedAt"
                  ]
                },
                "example": {
                  "id": "xkcd1re77cgdse4b8h9abp4s",
                  "name": "Platform",
                  "organizationId": "k2p9x7w4m1n8b3v6c5z0q2r7",
                  "description": "Customer-facing status",
                  "createdAt": "2026-09-27T14:21:55.104Z",
                  "updatedAt": "2026-09-27T14:21:55.772Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": [
                    "name must be longer than or equal to 1 characters",
                    "regions must be an array"
                  ],
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "The resource does not exist or belongs to another organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Monitor not found",
                  "error": "Not Found",
                  "statusCode": 404
                }
              }
            }
          },
          "409": {
            "description": "Conflicts with an existing resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "domain already taken",
                  "error": "Conflict",
                  "statusCode": 409
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_team",
        "summary": "Delete team",
        "description": "**Authentication:** User session only (the panel). API keys receive `401`. Requires the **owner** role; other roles receive `403`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "Team ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": [
                    "name must be longer than or equal to 1 characters",
                    "regions must be an array"
                  ],
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "The resource does not exist or belongs to another organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Monitor not found",
                  "error": "Not Found",
                  "statusCode": 404
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}/teams/{teamId}/members": {
      "post": {
        "operationId": "add_team_member",
        "summary": "Add team member",
        "description": "**Authentication:** User session only (the panel). API keys receive `401`. Requires the **owner** role; other roles receive `403`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "Team ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "ID of an existing organization member."
                  }
                },
                "required": [
                  "userId"
                ]
              },
              "example": {
                "userId": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": [
                    "name must be longer than or equal to 1 characters",
                    "regions must be an array"
                  ],
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "The resource does not exist or belongs to another organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Monitor not found",
                  "error": "Not Found",
                  "statusCode": 404
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}/teams/{teamId}/members/{userId}": {
      "delete": {
        "operationId": "remove_team_member",
        "summary": "Remove team member",
        "description": "**Authentication:** User session only (the panel). API keys receive `401`. Requires the **owner** role; other roles receive `403`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "Team ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "The resource does not exist or belongs to another organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Monitor not found",
                  "error": "Not Found",
                  "statusCode": 404
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/organizations/{orgId}/teams/backfill": {
      "post": {
        "operationId": "backfill_teams",
        "summary": "Backfill default team",
        "description": "Adds every member who is not in any team to the default team. Safe to repeat; returns how many were added.\n\n**Authentication:** User session only (the panel). API keys receive `401`. Requires the **owner** role; other roles receive `403`.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "description": "Organization ID. Must be your active organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "added": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "added"
                  ]
                },
                "example": {
                  "added": 0
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/members/contact-methods": {
      "get": {
        "operationId": "list_contact_methods",
        "summary": "List my contact methods",
        "description": "Contact methods the signed-in member uses for on-call alerts in this organization.\n\n**Authentication:** User session only (the panel), with `X-Organization-Id`. API keys receive `401`.",
        "tags": [
          "Member Contact Methods"
        ],
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": true,
            "description": "ID of the organization to act in. Must be your active organization.",
            "schema": {
              "type": "string",
              "example": "k2p9x7w4m1n8b3v6c5z0q2r7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Billing-State": {
                "description": "The organization's billing state: `active`, `trial` or `no-plan`.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "active",
                    "trial",
                    "no-plan"
                  ]
                }
              },
              "X-Trial-End": {
                "description": "When the trial ends (ISO 8601). Only sent while `X-Billing-State` is `trial`.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "userId": {
                        "type": "string"
                      },
                      "organizationId": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "config": {
                        "type": "object",
                        "properties": {
                          "phoneNumber": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      },
                      "isEnabled": {
                        "type": "boolean"
                      },
                      "position": {
                        "type": "integer"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "id",
                      "userId",
                      "organizationId",
                      "type",
                      "config",
                      "isEnabled",
                      "position",
                      "createdAt",
                      "updatedAt"
                    ]
                  }
                },
                "example": [
                  {
                    "id": "ilauii6q441jdnx64va07785",
                    "userId": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf",
                    "organizationId": "k2p9x7w4m1n8b3v6c5z0q2r7",
                    "type": "whatsapp",
                    "config": {
                      "phoneNumber": "+15555550100"
                    },
                    "isEnabled": true,
                    "position": 0,
                    "createdAt": "2026-04-20T04:16:59.213Z",
                    "updatedAt": "2026-04-20T04:16:59.213Z"
                  },
                  {
                    "id": "pnbto3e6kuj0xqsihgryvf3d",
                    "userId": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf",
                    "organizationId": "k2p9x7w4m1n8b3v6c5z0q2r7",
                    "type": "sms",
                    "config": {
                      "value": "+15555550100"
                    },
                    "isEnabled": true,
                    "position": 1,
                    "createdAt": "2026-04-25T22:13:20.800Z",
                    "updatedAt": "2026-07-11T16:29:33.212Z"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Missing X-Organization-Id header",
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      },
      "post": {
        "operationId": "create_contact_method",
        "summary": "Add contact method",
        "description": "**Authentication:** User session only (the panel), with `X-Organization-Id`. API keys receive `401`.",
        "tags": [
          "Member Contact Methods"
        ],
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": true,
            "description": "ID of the organization to act in. Must be your active organization.",
            "schema": {
              "type": "string",
              "example": "k2p9x7w4m1n8b3v6c5z0q2r7"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "email",
                      "sms",
                      "whatsapp",
                      "slack",
                      "discord",
                      "telegram",
                      "teams",
                      "webhook"
                    ]
                  },
                  "config": {
                    "type": "object",
                    "description": "Type-specific settings, e.g. `{\"url\": \"https://...\"}` for `webhook` or `{\"phoneNumber\": \"+15555550100\"}` for `whatsapp`.",
                    "example": {
                      "url": "https://example.com/hook"
                    }
                  },
                  "isEnabled": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "type",
                  "config"
                ]
              },
              "example": {
                "type": "webhook",
                "config": {
                  "url": "https://example.com/hooks/oncall"
                },
                "isEnabled": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "X-Billing-State": {
                "description": "The organization's billing state: `active`, `trial` or `no-plan`.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "active",
                    "trial",
                    "no-plan"
                  ]
                }
              },
              "X-Trial-End": {
                "description": "When the trial ends (ISO 8601). Only sent while `X-Billing-State` is `trial`.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "config": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "isEnabled": {
                      "type": "boolean"
                    },
                    "position": {
                      "type": "integer"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "userId",
                    "organizationId",
                    "type",
                    "config",
                    "isEnabled",
                    "position",
                    "createdAt",
                    "updatedAt"
                  ]
                },
                "example": {
                  "id": "dklb8nn9d9w80r1laoruny2h",
                  "userId": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf",
                  "organizationId": "k2p9x7w4m1n8b3v6c5z0q2r7",
                  "type": "webhook",
                  "config": {
                    "url": "https://example.com/hooks/oncall"
                  },
                  "isEnabled": false,
                  "position": 0,
                  "createdAt": "2026-09-27T14:22:01.102Z",
                  "updatedAt": "2026-09-27T14:22:01.102Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": [
                    "type must be one of the following values: email, sms, whatsapp, slack, discord, telegram, teams, webhook"
                  ],
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/members/contact-methods/{id}": {
      "patch": {
        "operationId": "update_contact_method",
        "summary": "Update contact method",
        "description": "**Authentication:** User session only (the panel), with `X-Organization-Id`. API keys receive `401`.",
        "tags": [
          "Member Contact Methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contact method ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": true,
            "description": "ID of the organization to act in. Must be your active organization.",
            "schema": {
              "type": "string",
              "example": "k2p9x7w4m1n8b3v6c5z0q2r7"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "email",
                      "sms",
                      "whatsapp",
                      "slack",
                      "discord",
                      "telegram",
                      "teams",
                      "webhook"
                    ]
                  },
                  "config": {
                    "type": "object"
                  },
                  "isEnabled": {
                    "type": "boolean"
                  }
                },
                "description": "All fields are optional."
              },
              "example": {
                "config": {
                  "url": "https://example.com/hooks/oncall"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Billing-State": {
                "description": "The organization's billing state: `active`, `trial` or `no-plan`.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "active",
                    "trial",
                    "no-plan"
                  ]
                }
              },
              "X-Trial-End": {
                "description": "When the trial ends (ISO 8601). Only sent while `X-Billing-State` is `trial`.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "organizationId": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "config": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "isEnabled": {
                      "type": "boolean"
                    },
                    "position": {
                      "type": "integer"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "userId",
                    "organizationId",
                    "type",
                    "config",
                    "isEnabled",
                    "position",
                    "createdAt",
                    "updatedAt"
                  ]
                },
                "example": {
                  "id": "dklb8nn9d9w80r1laoruny2h",
                  "userId": "u7Kp2Qm9Xa4Lr8Tn1Vb6Zc3Wd5Ye0Hf",
                  "organizationId": "k2p9x7w4m1n8b3v6c5z0q2r7",
                  "type": "webhook",
                  "config": {
                    "url": "https://example.com/hooks/oncall"
                  },
                  "isEnabled": false,
                  "position": 0,
                  "createdAt": "2026-09-27T14:22:01.102Z",
                  "updatedAt": "2026-09-27T14:22:01.646Z"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": [
                    "name must be longer than or equal to 1 characters",
                    "regions must be an array"
                  ],
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "The resource does not exist or belongs to another organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Monitor not found",
                  "error": "Not Found",
                  "statusCode": 404
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      },
      "delete": {
        "operationId": "delete_contact_method",
        "summary": "Delete contact method",
        "description": "**Authentication:** User session only (the panel), with `X-Organization-Id`. API keys receive `401`.",
        "tags": [
          "Member Contact Methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Contact method ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": true,
            "description": "ID of the organization to act in. Must be your active organization.",
            "schema": {
              "type": "string",
              "example": "k2p9x7w4m1n8b3v6c5z0q2r7"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "X-Billing-State": {
                "description": "The organization's billing state: `active`, `trial` or `no-plan`.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "active",
                    "trial",
                    "no-plan"
                  ]
                }
              },
              "X-Trial-End": {
                "description": "When the trial ends (ISO 8601). Only sent while `X-Billing-State` is `trial`.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: body or query validation failed, or `X-Organization-Id` is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": [
                    "name must be longer than or equal to 1 characters",
                    "regions must be an array"
                  ],
                  "error": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired credentials, or a credential this endpoint does not accept.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Unauthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "403": {
            "description": "The credential cannot act here: not a member of the organization, missing scope, insufficient role, or a plan limit was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "No access to this organization",
                  "error": "Forbidden",
                  "statusCode": 403
                }
              }
            }
          },
          "404": {
            "description": "The resource does not exist or belongs to another organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "Monitor not found",
                  "error": "Not Found",
                  "statusCode": 404
                }
              }
            }
          }
        },
        "security": [
          {
            "session": []
          }
        ]
      }
    },
    "/api/v1/uptime": {
      "get": {
        "operationId": "list_uptime_monitors",
        "summary": "List uptime monitors",
        "description": "Lists the uptime monitors in the organization with their full check configuration. With `include=metrics`, each item instead has `uptimeMetric`, `avgResponseTime`, `p95ResponseTime`, `incidentCount`, `totalDowntimeMinutes`, `regionStatuses` and `realtimeStatus`.\n\n**Authentication:** API key with the `monitors:read` scope, or a user session. Role: viewer, member, admin or owner.",
        "tags": [
          "Uptime"
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Pass `metrics` to return a lighter shape with uptime, response-time and incident metrics for each monitor.",
            "schema": {
              "type": "string",
              "enum": [
                "metrics"
              ]
            }
          },
          {
            "name": "X-Organization-Id",
            "in": "header",
            "required": true,
            "description": "ID of the organization to act in. Required with API keys. A user session may omit it and acts in its active organization.",
            "schema": {
              "type": "string",
              "example": "k2p9x7w4m1n8b3v6c5z0q2r7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Billing-State": {
                "description": "The organization's billing state: `active`, `trial` or `no-plan`.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "active",
                    "trial",
                    "no-plan"
                  ]
                }
              },
              "X-Trial-End": {
                "description": "When the trial ends (ISO 8601). Only sent while `X-Billing-State` is `trial`.",
                "schema": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "organizationId": {
                        "type": "string"
                      },
                      "userId": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "isActive": {
                        "type": "boolean"
                      },
                      "currentStatus": {
                        "type": "string"
                      },
                      "lastEventAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "checkIntervalSeconds": {
                        "type": "integer"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "uptimeMonitor": {
                        "type": "object",
                        "properties": {
                          "monitorId": {
                            "type": "string"
                          },
                          "targetUrl": {
                            "type": "string"
                          },
                          "checkType": {
                            "type": "string"
                          },
                          "expectedResponseCode": {
                            "type": "string"
                          },
                          "followRedirects": {
                            "type": "boolean"
                          },
                          "contentAlert": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "timeout": {
                            "type": "string"
                          },
                          "alertSensitivity": {
                            "type": "string"
                          },
                          "httpMethod": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string",
                            "nullable": true
                          },
                          "headers": {
                            "type": "array",
                            "items": {}
                          },
                          "username": {
                            "type": "string"
                          },
                          "regions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "hasPassword": {
                            "type": "boolean",
                            "description": "Whether a basic-auth password is saved. The password itself is never returned."
                          }
                        },
                        "required": [
                          "monitorId",
                          "targetUrl",
                          "checkType",
                          "expectedResponseCode",
                          "followRedirects",
                          "contentAlert",
                          "content",
                          "timeout",
                          "alertSensitivity",
                          "httpMethod",
[...]
